.wx-filter-bar.wx-gWqAfosQ {
  display: flex;
  padding: 14px 2px;
  width: 610px;
  gap: 10px;
}

.wx-label.wx-gWqAfosQ {
  font-family: var(--wx-label-font-family);
  font-size: var(--wx-label-font-size);
  line-height: var(--wx-label-line-height);
  font-weight: var(--wx-label-font-weight);
  color: var(--wx-label-font-color);
  align-content: center;
  max-width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wx-select.wx-gWqAfosQ {
  flex: 1;
}

.wx-text.wx-gWqAfosQ,
.wx-date.wx-gWqAfosQ {
  flex: 2;
}
