.wx-willow-theme {
  --wx-filter-value-color: var(--wx-color-primary);
  --wx-filter-and-background: #fcba2e;
  --wx-filter-or-background: #77d257;
  --wx-filter-and-font-color: var(--wx-color-font);
  --wx-filter-or-font-color: var(--wx-color-font);
  --wx-filter-border: 1px solid #e6e6e6;
}
