.wx-query-highlight.wx-aacwWF55 {
  font-family: monospace;
  padding: var(--wx-padding) 12px;
  background: var(--wx-background-alt);
  border: var(--wx-border);
  border-radius: var(--wx-border-radius);
  margin-top: var(--wx-padding);
  white-space: pre-wrap;
  word-break: break-word;
}
